//-----------------------------------------------------------------------------------------------------------------------------
// Переменные
//-----------------------------------------------------------------------------------------------------------------------------


$bootstrap: (
  spacing:                      15px
);



// Настройка экранов
$breakpoints: (
  xxl:                          1600,
  xl:                           1200,
  lg:                           992,
  md:                           768,
  sm:                           576,
  xs:                           0
);
$media-direction:               max;



// Разрешения экранов
$screens: (
  xs:                           ( 0px, 575.98px ),
  sm:                           ( 576px, 767.98px ),
  md:                           ( 768px, 991.98px ),
  lg:                           ( 992px, 1199.98px ),
  xl:                           ( 1200px, 1599.98px ),
  xxl:                          ( 1600px, 100vw ),
  all:                          ( 0px, 100vw ),
);
$screens_prority:               ( all, xxl, xl, lg, md, sm, xs );



// Псевдоселекторы
$selectors: (

  // Стилизация плейсхолдера
  placeholder:                  (
                                  '::-webkit-input-placeholder',
                                  '::-moz-placeholder',
                                  ':-ms-input-placeholder',
                                  ':-moz-placeholder'
                                ),

  // Стилизация выделенного текста
  selection:                    (
                                  '::-moz-selection',
                                  '::selection'
                                ),
);



// Задержки анимации
$transitions: (
  faster:                       0.25s,
  fast:                         0.5s,
  normal:                       1s
);



//-----------------------------------------------------------------------------------------------------------------------------
// Переменные
//-----------------------------------------------------------------------------------------------------------------------------